<%= form_for(@new_post) do |f| %>

  <div class="fields">
    <%= f.hidden_field :page, :value => params[:page] %>
    <%= f.submit "Post" %>&nbsp;&nbsp;&nbsp;
    <label>Name: </label><%= f.text_field :name %>&nbsp;&nbsp;&nbsp;
    <label>Email: </label><%= f.email_field :email %>
    <br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
  </div>
  <% if @new_post.errors.any? %>
  <div class="message error">
    <ul>
    <% @new_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% elsif flash.any? %>
  <div class="message success">
    <ul>
    <% flash.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<% end %>

<%= paginate @posts %>

<% @posts.each do |post| %>
  <div class="post">

    <p class="name">
    <% if post.email.empty? %>
    <%= post.name %>
    <% else %>
    <a href="mailto:<%= post.email %>"><%= post.name %></a>
    <% end %>
    </p>
    <hr />
    <p class="content"><%= simple_format(post.comment) %></p>
    <p class="time"><%= post.created_at %></p>

  </div>
<% end %>

<%= paginate @posts %>
