<%= form_for(@new_post) do |f| %>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :name %>
    <%= f.text_area :email %>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "Post this comment" %>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <p class="name"><%= post.name %></p>
    <p class="email"><%= post.email %></p>
    <p class="content"><%= post.comment %></p>
    <p class="time"><%= post.created_at %></p>
  </div>
<% end %>
