<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :name %>
    <%= f.text_area :email %>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "Post this comment" %>
  </div>
<% end %>
